/* Set up properties */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    --light: #d7d1e0; /* whitish lavender color */
    --dark: #262429; /* dark purplish grey */
    --lavenderBackground: #b2aabd; /* light lavender */
    --titles: #473959; /* darkish lavender */
    --inputs: #a1126a; /* purplish pink */
    --linkHover: #de459e; /* light pink */
    --secLinkHover: #290018; /*dark pink */
  }

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 10px;
  background: #ccc;
  padding: 1px 0;
  position: fixed;
  bottom: 0;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #473959;
  width: 0%;
  border-radius: 0 10px 10px 0;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  color: var(--dark);
}

/* navigation */

#main-nav {
  display: grid;
  justify-items: end;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: var(--dark);
  padding: 20px;
}

#logo{
  width: 40px;
}

nav ul{
  list-style-type: none;
}

#main-nav ul {
  margin-left: 10px;
}

nav li{
  display: inline-block;
  padding: 10px;
}

nav a {
  color: var(--light);
  text-decoration: none;
}

#secondary-nav {
  background-color: #646069;
  text-align: center;
  display: none;
}

/* intro section */

section, aside{
  padding: 40px 20px;
}

.lavender {
  background-color: var(--lavenderBackground);
}

#intro {
  padding: 0;
}

.background{
  background-size: cover;
}

#intro-title {
    background-image: url("https://lh3.googleusercontent.com/Q1izA_uqSJqoGsKG7BsliabaEjDg5xL0_qBjFvuSx08fghKaoPilJFGEejKlrEcnEeKr4zfBKTmtDaCBnTVPd5VCpFWE45fDdzuqm8yu1UcGNH_j6qN3-4Rk2vGXO4Pj4vUxhnapPApnUm4yjCRdOJbzGDkjfHLK1MTfDfn8iBT9O1gc-JoYq3eqs3MsFU-poA0lopcIa2exgBvJZ5kfFOv0vNcvpYTFSaAXVifMvN9Zwxb8LEeO4zOmsi3727Ibb6kdI8XASfkEs7Bj_3YQxEdbO88jqdCXNv9FDT_TEGyV5_VQw-ITLX1K1uioVKOy61pr8mvN9WBrI0ot7IqTHdi8BAuA0arP0emsc_mmVVpLZiDs5R28ZxpljBhOsu3oyfp0iqbfM02-E1flwdlYfGueXm8-kELssRG95IcMjHgtQh6RG_7tPEjjaZ0f-8ZPLrgfKq-Ifr5_dxLLPVdySCVPNnmE1tHetiq_STAMRzbiMNAhTF_4-_hTdKiQ6Zn7lWzomf1jaAKEzXxa1bSYrqd85Ot8PSyH6fFWxv5JOWCA17DL2RQoN3tcqIhCYYtU7_6n5TlSR4vxblWizKU06oOWbFxoqBAWPv8EAONZjNHn1_LBw4mcNarQWPezarHTfnMG1ndgbJOzzSImsZR0HvI_iLBqiXQf-BP8KWEBDRl1wwIjPlkw4_ltZ4nXa4ZLMTSdlT5m3IgS3CTVA0LEk0-U=w980-h1468-no?authuser=0");
  height: 70vh;
  display:flex;
  align-items: center;
  color: var(--titles);
}

h1 {
  text-align: center;
  width: 70%;
  padding: 20px;
  font-size: 3.9em;
  font-family: 'caveat', cursive;
  margin: auto;
}

#intro>p {
  padding: 20px;
}

/* Ingredient section */

h2 {
  color: var(--titles);
  font-size: 2em;
  margin-bottom: 20px;
}

div span, div>label {
  font-weight: bold;
}

#ingredients div>p:nth-of-type(2) {
  margin-top:5px;
}

#ingredients input{
  width: 40px;
  font-size: 0.9em;
  padding: 5px;
  border-radius: 5px;
  color: var(--inputs);
}

#ingredients div {
  margin-bottom: 20px;
}

#ingredients img {
  width: 25px;
  margin-right: 5px;
}

#ingredients ul {
  list-style-type: none;
}

#ingredients li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

#ingredients ul input {
  width:50px;
  padding: 0;
  border: none;
}

/* background section */

#lavenderfield {
    background-image: url("https://lh3.googleusercontent.com/pw/ACtC-3fzzfLv3eE9y3Ky2hMMhaKjh2ueioC5P5FCV3L9dwpOpjYJVmplbmSrqqffMd8De27vfv-PF61oPLeZm-T9_xeamlSTJHn8IsIs5BLT2sGRank4yIuUGZa4vB-lCMPOVbLM745i1ZRirm2I_aRpemHU=w2194-h1468-no?authuser=0");
  height: 200px;
  background-attachment: fixed;
}

/* instructions section */


#video { 
  position: relative; 
  padding-bottom: 56.25%; 
  padding-top: 30px; 
  height: 0; 
  overflow: hidden; 
  margin-bottom: 20px;
}

#video iframe{ 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

h3 {
  margin: 30px 0 10px 0;
  font-size: 1.4em;
}

/* Questions Section */

#questions>div {
  background-color: var(--light);
  border-radius: 5px;
  margin-top: 30px;
  padding: 10px;
}

#questions>div>div {
  display: grid;
  grid-template-columns: 1fr 40px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

button {
  border-radius: 5px;
  background-color: transparent;
  font-size: 1.1em;
  border: none;
  font-weight: bold;
}

/* author section */

aside img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
  display: block;
  margin: auto;
}

aside span{
  font-weight: bold;
}

aside a {
  color: var(--inputs);
  text-decoration: none;
}

/* hover effects */

aside a:hover {
  font-weight: bold;
}

nav li:hover a {
  color: var(--linkHover);
  font-weight: bold;
}

#secondary-nav li:hover a{
  color: var(--secLinkHover);
}

nav:hover #secondary-nav {
  display: block;
}

/* LAYOUT */

@media only screen and (min-width: 500px) {
  #main-nav {
    padding: 20px 40px;
  }
  
  section, aside, #intro>p {
    padding: 40px;
  }
  
  #gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    grid-gap: 20px;
    grid-template-rows: 200px 150px 150px;
    grid-template-areas:
      "icecream icecream"
      "cone popsicle"
      "cone flowers";
  }
  
  #gallery img {
    object-fit: cover;
  }
  
  #gallery img:nth-of-type(1){
    grid-area: icecream;
    object-position: 0 85%;
  }
  
  #gallery img:nth-of-type(2){
    grid-area: cone;
  }
  
  aside img{
    float: left;
    margin: 0 30px 10px 0;
    shape-outside: circle();
  }
}

@media only screen and (min-width: 700px) {
  nav {
    position: fixed;
    width: 100%;
    z-index: 2;
  }
  
    #main-nav {
    padding: 20px 40px;
  }
  
  #intro-title {
    height:90vh;
    padding-top: 60px;
  }
  
  section, aside{
    padding: 80px;
  }
  
  #intro>p {
    padding: 40px 80px 80px 80px;
  }
}

@media only screen and (min-width: 1000px) {
  #author{
    right: 0;
    width: 30%;
    position: fixed;
    padding: 100px 20px 20px 20px;
    overflow: scroll;
    height: 100vh;
    background-color: #7a6d8c;
    color: var(--light);
  }
  
  aside a {
  color: var(--secLinkHover);
}
  
  aside img {
    float: none;
    margin: auto;
  }
  
  main {
    float: left;
    width:70%;
  }
}